{% extends 'halls/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-light border-bottom border-primary my-2 py-2">
	<div class="container ">
		<h2 class="display-3 text-center text-light"><strong>{% if suggest == 0 %}Add{% else %}Suggest{% endif %} Video</strong><em style=" font-size: 20px; word-spacing: 0.5em;"> to<span style="font-size: 50px; font-family: 'Monoton', cursive;"> Hall</span></em></h2>
		<h2 class="text-center text-info mb-5 px-5 py-3 border border-danger rounded-pill" style=" font-size: 50px; font-family: 'Monoton', cursive;">{{ hall.title }}</h2>
		<form method="post" id="submit_video" class="mt-1">
			{% csrf_token %}
			{% load widget_tweaks %}
			{% for field in form %}
			<div class="form-group {% if field.errors %}alert alert-danger{% endif%}">
				{{ field.errors }}
				{{ field.label_tag }}
				{% render_field field class="form-control" %}
			</div>
			{% endfor %}			
			<button type="submit" class="btn btn-outline-success btn-outline">Add</button>
		</form>
		<br>
		<h2>OR</h2>
		<form> 
			{% for field in search_form %}
			<div class="form-group">
				{{ field.errors }}
				{{ field.label_tag }}
				{% render_field field class="form-control" %}
			</div>
			{% endfor %}			
		</form>
	</div>
</div>
<div class="container">	
	<div class="text-light" id="search_results"></div>
		<script>
			var delayTimer;
			$('#id_search_term').keyup(function() {
				clearTimeout(delayTimer);
				$('#search_results').text('Loading...');
				delayTimer = setTimeout(function() {
					var text = $('#id_search_term').val();
					$.ajax({
						url: "/video/search",
						data: {
							'search_term': text
						},
						dataType: 'json',
						success: function(data) {
							var results = '';
							$('#search_results').text(data['']);

							results += '<br><div class="card-columns">';
							data['items'].forEach(function(video) {
								results += '<div class="col-md-4"><div class="card mb-4 bg-danger border-success" style="width: 300px;">';
									results += '<iframe width="100%" height="225" src="https://www.youtube.com/embed/' + video['id']['videoId'] + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
										results += '<div class="card-body"><p class="card-text">' + video['snippet']['title'] + '</p>';
										results += '<a href="#" class="btn btn-success" onclick="addVideo(\'' + video['id']['videoId'] + '\')">Add</a>';
								results += '</div></div></div>';								
							});
							results += '</div>';
							$('#search_results').append(results);
						}
					});
				}, 1000);	 
			});
			function addVideo(video_id) {
				$('#id_url').val('https://www.youtube.com/watch?v=' + video_id);
				$('#submit_video').submit();
			}
		</script>
	</div>
</div>


{% endblock %}
