<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
	<title>Hall of Fame Videoz</title>

<body>
	<header>
	  <h1>Booyaz!</h1>
    </header>
    <div class="jumbotron">
    	<div class="a"></div>
    	<div class="title_wrapper"><h1> ba ba booya?</h1></div>
    	<div class="img_hood"></div>
    	<div class="b">Hobo texk!</div>
    	<div class="e"></div>
    	<div class="d"></div>
    	<div class="f"></div>
    </div>
    <section id="main" class="main">
    	<h1>Delightful is learning to mince the minutia of computer thoughts! Eat the noodle of life double good most betters!</h1>
    </section>

</body>
</html>