{% extends 'halls/base.html' %}
{% load staticfiles %}

{% block content %}
<section class="jumbotron jumbotron-fluid text-center bg-dark border-bottom border-top border-primary mt-2">
	<div class="container">
		<h1 class="jumbotron-heading text-light">What's your personal <span style="font-family: 'Monoton', cursive; word-spacing: .3em; font-size: 55px; font-weight: bold;">Hall <span style="font-weight: normal; ">of</span> Fame</span> ?</h1>
		<p class="lead">Curate halls of vidoes to share with the world. Show what moves you.</p>
			<a href="{% url 'random' %}" class="btn btn-outline-success mr-5 mt-4">Random Hall</a>	
			<a href="{% url 'create_hall' %}" class="btn btn-outline-success ml-5 mt-4">Create Hall</a>

	</div>		
</section>
<div class="container">
	{% if popular_halls %}
		<nav class="nav nav-justified">
		  <a class="nav-item nav-link text-light" href="#"><h4>Most Popular</h4></a>
		  <a class="nav-item nav-link" href="{% url 'newest' %}"><h5>Go to Newest</h5></a>
		</nav>
	{% for hall in popular_halls %}
	{% if hall.video_set.all %}
	<div class="row my-4">
		<div class="col">
			<div class="card bg-secondary border-primary mb-3" style="overflow: hidden;">
				<div class="card-header text-center bg-dark">
					<a class="text-info" href="{% url 'detail_hall' hall.id %}"><h3 style="font-family: 'Monoton', cursive; word-spacing: .28em;">{{ hall.title }}</h3></a>	
				</div>
				<div class="card-body" onclick="window.location='{% url 'detail_hall' hall.id %}';" style="cursor: pointer;">
					<div class="row justify-content-center">
						{% for video in hall.video_set.all %}
							<div class="col-12 col-md-6 col-xl-4">	
							<img src="{{ video.thumbnail_url }}" width="100%">							
							</div>
													
						{% endfor %}
					</div>					
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% if recent_halls %}
		<nav class="nav nav-justified">
		  <a class="nav-item nav-link" href="{% url 'home' %}"><h5>Go to Most Popular</h5></a>
		  <a class="nav-item nav-link text-light" href="#"><h4>Newest</h4></a>
		</nav>
	{% for hall in recent_halls %}
	{% if hall.video_set.all %}
	<div class="row my-4">
		<div class="col">
			<div class="card bg-secondary border-primary mb-3" style="overflow: hidden;">
				<div class="card-header text-center bg-dark">
					<a class="card-title" href="{% url 'detail_hall' hall.id %}"><h3>{{ hall.title }}</h3></a>	
				</div>
				<div class="card-body" onclick="window.location='{% url 'detail_hall' hall.id %}';" style="cursor: pointer;">
					<div class="row justify-content-center">
						{% for video in hall.video_set.all %}
							<div class="col-12 col-md-6 col-xl-4">						
							<img src="{{ video.thumbnail_url }}" width="100%">
							</div>
													
						{% endfor %}
					</div>					
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
</div>




{% endblock %}
<!--  bg-dark text-light -->