{% extends 'halls/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-light border-bottom border-primary my-2 py-2">
	<div class="container ">
		<h2 class="display-3 text-center text-light"><strong>Edit Title</strong><em style=" font-size: 20px; word-spacing: 0.5em;"> of<span style="font-size: 50px; font-family: 'Monoton', cursive;"> Hall</span></em></h2>
		<h2 class="text-center text-info mb-5 border border-danger rounded-pill" style=" font-size: 50px; font-family: 'Monoton', cursive;">{{ hall.title }}</h2>
		{% if user.is_authenticated %}
		<form method="post">
			{% csrf_token %}
			{% load widget_tweaks %}
			{% for field in form %}
			<div class="form-group {% if field.errors %}alert alert-danger{% endif%}">
				{{ field.errors }}
				{{ field.label_tag }}
				{% render_field field class="form-control" %}
			</div>
			{% endfor %}	
			<button type="submit" class="btn btn-outline-success btn-outline">Save</button>	
		</form>
		<br>
		<a href="{% url 'delete_hall' hall.id %}" class="btn btn-outline-danger mt-5">Delete this Hall of Fame</a>
		{% else %}
		<h2 class="text-center text-danger">Please Login or Sign Up!<h2>
		{% endif %}
	</div>
		
</div>

{% endblock %}

